<div class="header-container highlight">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Merienda&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">

    <h1 style="color: gold;">{{ site.title }}</h1>
    <nav>
        <ul>
            <li><a class="i-text" href="{{ '/' | relative_url }}">Home</a></li>
            <li><a class="i-text" href="{{ '/characters/' | relative_url }}">Characters</a></li>
            <li><a class="i-text" href="{{ '/factions/' | relative_url }}">Factions</a></li>
            <li><a class="i-text" href="{{ '/items/' | relative_url }}">Items</a></li>
            <li><a class="i-text" href="{{ '/lore/' | relative_url }}">Lore</a></li>
            <li><a class="i-text" href="{{ '/story/' | relative_url }}">The World</a></li>
            <li><a class="i-text" href="{{ '/mechanics/' | relative_url }}">Mechanics</a></li>
            <li><a class="i-text" href="{{ '/updates' | relative_url }}">Updates</a></li>
        </ul>
    </nav>
</div>