.faction-list {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px; /* Space between items */
}

.faction-item {
    display: block; /* Make links fill the character item */
    background-color: #252525; /* Light background */
    border: 1px solid gold; /* Border around each item */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
}

.faction-item p {
    text-align: start;
    margin: 5px 20px;
}

/* Optional: Style the links */
a.faction-link{
    padding: 10px;
    color: gold; /* Link color */
    text-decoration: none; /* No underline */
}

.magical-list li {
    margin-top: 10px;
}

a:hover {
    background-color: #1a1a1a; /* Darken background on hover */
}

.description {
    max-width: 1200px;
    padding: 10px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #292929;
    box-shadow: 2px 2px 20px black;
}
.description p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.container ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.container ul li {
    width: 250px;
}

.container ul a {
    text-align: center;
    display: block; /* Make links fill the character item */
    padding: 10px;
    background-color: #252525; /* Light background */
    border: 1px solid gold; /* Border around each item */
    border-radius: 5px; /* Rounded corners */
    color: gold; /* Link color */
    text-decoration: none; /* No underline */
}

.container a {
    color: gold;
    text-decoration: underline;
}