.description {
    max-width: 1200px;
    padding: 10px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #292929;
    box-shadow: 2px 2px 20px black;
}

.description ul {
    list-style: none;
    display: flex;
    width: 90%;
    flex-direction: column;
}
.description li {
    color: white;
    background-color: #1b1b1b;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

a {
    text-decoration: underline;
    color: gold;
}