<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/faction.css' | relative_url }}">
  </head>
  <body class="background">
    <div style="display: flex; flex-direction: column; min-height: 100vh;">
      <header>
        {% include header.html %}
      </header>
      <main class="background">
        <div class="container content">
          <div class="description ">
            <style>
              p{
                font-size: 1.3em;
              }
            </style>
            {{ content }}
          </div>
        </div>
      </main>
      
      <footer class="highlight">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>